.App {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 50px;
}

.dark-mode {
  background-color: #222;
  color: #fff;
}

input {
  padding: 5px;
  margin-right: 10px;
}

button {
  margin-left: 5px;
}
